{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>
        <table style="width:100%">
        {% for listing in watchlist %}
        <tr>
            <td><img src={{listing.image_link}} alt="Smiley face" height="142" width="242"> </td>
            <td><h5><a href="{% url 'listing_detail' listing.id %}">{{listing.item_title}}</h5></a>
                <h5>Price: ${{listing.item_price}}</h5>
                <h5>{{listing.item_category}}</h5>
                <br>Created {{listing.list_datetime}}
            </td>
        </tr>
        {% endfor %}
{% endblock %}

<!--
    1. change layout of active listing  HTML so that there is a hyperlink to the listing detail template
            {% url 'listing ID url' listingID %} in the listing detail template
        before this step, i need to define the listingID parameter
    2. define the hyperlink argument which is passed as the context to the listing detail template
        listingID = AuctionListing.item.id

    3. get the UID from the auction listing model line item
-->