{% extends "network/layout.html" %}
{% load static %}
{% load custom_template_tags %}
{% block body %}
{% csrf_token %}

<div id="page_mode" value= '' class='something'> {{ page_mode }}
</div>

<div>
    <h2 style="margin-left:50px" id="title-of-page">
    </h2>
</div>

<div id="new_post-view" class = "container">
<form id="new_post">    
    {% csrf_token %}
    <!--margin,outline,border,padding,xxxcontent-->
    <div class="form-group" style="padding:30px; outline-style: solid; outline-color:rgb(184, 182, 182)" >
        <b>New Post</b>
        <textarea class="form-control" id="compose-body" placeholder="Body" margin-left: 1 cm></textarea>
        <input type="submit" class="btn btn-primary" value="Post"/>   
    </div> 
</form>
</div>


<div id="profile-view" style="padding: 10%;">
    <div id="follow-stats" >
        <label>followers:  </label><var id='followers-stats'>{{ num_followers_list }} </var><br>
        <label>following:  </label><var id='following-stats'>{{ num_following_list }} </var>
    </div>

    {%if user.id != profile_user_id %}
        {% if user.id in followers %}
            {% setvar "Unfollow" as action %}
        {% else %}
            {% setvar "Follow" as action %}
        {% endif %}
            <button type="submit" id ="FollowButton" value={{profile_user_id}}>{{ action }}</button>
    {% else %}
       <p> condition check failed</p>
    {% endif %}
 </div>





<div id="all-posts-view">
</div>

<div id ="paged-view" class = "pagination">

</div>
<!--<div id ="FollowButton" ></div>-->

{% endblock %}


{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}